### Index

In [1]:
import pandas as pd
import numpy as np

In [3]:
read_csv_file = pd.read_csv("dataset\\user.csv")
read_csv_file

       date language  ex_complete
0  1/1/2017   python            6
1  1/2/2017   python            5
2  1/3/2017   python           10
3  1/4/2017   python           15
4  1/5/2017   python           20
5  1/6/2017   python           25
6  1/7/2017   python           30
7  1/8/2017   python           35

In [26]:
# Check out index
read_csv_file.index

RangeIndex(start=0, stop=8, step=1)

In [27]:
# Slice and dice data
read_csv_file.loc[:1]

       date language  ex_complete
0  1/1/2017   python            6
1  1/2/2017   python            5

In [28]:
## set the other index
read_csv_file.set_index(read_csv_file['date'])

              date language  ex_complete
date
1/1/2017  1/1/2017   python            6
1/2/2017  1/2/2017   python            5
1/3/2017  1/3/2017   python           10
1/4/2017  1/4/2017   python           15
1/5/2017  1/5/2017   python           20
1/6/2017  1/6/2017   python           25
1/7/2017  1/7/2017   python           30
1/8/2017  1/8/2017   python           35

In [36]:
## set the other index
read_csv_file.set_index('date')

         language  ex_complete
date
1/1/2017   python            6
1/2/2017   python            5
1/3/2017   python           10
1/4/2017   python           15
1/5/2017   python           20
1/6/2017   python           25
1/7/2017   python           30
1/8/2017   python           35

In [29]:
read_csv_file.index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
read_csv_file.loc['1/1/2017'] ## getting error because changes doesn't affected

In [30]:
read_csv_file.columns

Index(['date', 'language', 'ex_complete'], dtype='object')

###  Multi-index or Hierarchical index

In [22]:
read_multi_ind = pd.read_csv("dataset\\user.csv")
read_multi_ind

       date language  ex_complete
0  1/1/2017   python            6
1  1/2/2017   python            5
2  1/3/2017   python           10
3  1/4/2017   python           15
4  1/5/2017   python           20
5  1/6/2017   python           25
6  1/7/2017   python           30
7  1/8/2017   python           35

In [31]:
## set the other index
read_multi_ind.set_index(read_multi_ind['date'],inplace=True) ## using inplace to changes affected

In [32]:
read_multi_ind.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017',
       '1/7/2017', '1/8/2017'],
      dtype='object', name='date')

In [33]:
read_multi_ind.loc['1/1/2017']

date           1/1/2017
language         python
ex_complete           6
Name: 1/1/2017, dtype: object

In [37]:
# Set index
read_multi_ind.set_index(['date','language'], inplace=True)
read_multi_ind

                   ex_complete
date     language
1/1/2017 python              6
1/2/2017 python              5
1/3/2017 python             10
1/4/2017 python             15
1/5/2017 python             20
1/6/2017 python             25
1/7/2017 python             30
1/8/2017 python             35

In [38]:
read_multi_ind.index

MultiIndex([('1/1/2017', 'python'),
            ('1/2/2017', 'python'),
            ('1/3/2017', 'python'),
            ('1/4/2017', 'python'),
            ('1/5/2017', 'python'),
            ('1/6/2017', 'python'),
            ('1/7/2017', 'python'),
            ('1/8/2017', 'python')],
           names=['date', 'language'])

In [40]:
## sort index
read_multi_ind.sort_index(inplace=True)
read_multi_ind

                   ex_complete
date     language
1/1/2017 python              6
1/2/2017 python              5
1/3/2017 python             10
1/4/2017 python             15
1/5/2017 python             20
1/6/2017 python             25
1/7/2017 python             30
1/8/2017 python             35

In [41]:
# Slice & dice your DataFrame
read_multi_ind.loc[('1/1/2017', 'python')]

ex_complete    6
Name: (1/1/2017, python), dtype: int64

In [42]:
# resetting the index
# Reset the index
read_multi_ind.reset_index()

       date language  ex_complete
0  1/1/2017   python            6
1  1/2/2017   python            5
2  1/3/2017   python           10
3  1/4/2017   python           15
4  1/5/2017   python           20
5  1/6/2017   python           25
6  1/7/2017   python           30
7  1/8/2017   python           35

In [43]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

mul_df = pd.MultiIndex.from_tuples(index)
mul_df

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )