In [1]:
# Importing the dataset
import pandas as pd  
data = pd.read_csv('cars.csv')  # 
print(data)

  Number     Type  Capacity
0    SSD   Premio        1800
1    KCN  Fielder        1500
2    USG     Benz        2200
3    TCH      BMW        2000
4    KBQ    Range        3500
5    TBD   Premio        1800
6    KCP     Benz        2200
7    USD  Fielder        1500
8    UGB      BMW        2000
9    TBG    Range        3200

In [11]:
data = pd.read_csv('cars.csv',delimiter = ',')  # delimiter = ','
print(data)

  Number     Type  Capacity
0    SSD   Premio        1800
1    KCN  Fielder        1500
2    USG     Benz        2200
3    TCH      BMW        2000
4    KBQ    Range        3500
5    TBD   Premio        1800
6    KCP     Benz        2200
7    USD  Fielder        1500
8    UGB      BMW        2000
9    TBG    Range        3200

In [2]:
data.head()

  Number     Type  Capacity
0    SSD   Premio        1800
1    KCN  Fielder        1500
2    USG     Benz        2200
3    TCH      BMW        2000
4    KBQ    Range        3500

In [14]:
# print specific column
data[['Type']]

      Type
0   Premio
1  Fielder
2     Benz
3      BMW
4    Range
5   Premio
6     Benz
7  Fielder
8      BMW
9    Range

In [3]:
print(data.loc[[0, 4, 7], ['Type']])

      Type
0   Premio
4    Range
7  Fielder

In [4]:
print(data.loc[:, ['Type', 'Capacity']])

      Type  Capacity
0   Premio       NaN
1  Fielder       NaN
2     Benz       NaN
3      BMW       NaN
4    Range       NaN
5   Premio       NaN
6     Benz       NaN
7  Fielder       NaN
8      BMW       NaN
9    Range       NaN

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [6]:
# Reading in excel
import pandas as pd  
data = pd.read_excel('cars.xlsx')  
print(data)

  Number     Type  Capacity
0    SSD   Premio        1800
1    KCN  Fielder        1500
2    USG     Benz        2200
3    TCH      BMW        2000
4    KBQ    Range        3500
5    TBD   Premio        1800
6    KCP     Benz        2200
7    USD  Fielder        1500
8    UGB      BMW        2000
9    TBG    Range        3200

In [7]:
data = pd.read_excel('cars.xlsx',skiprows = 1)  
print(data)

   SSD   Premio  1800
0  KCN  Fielder  1500
1  USG     Benz  2200
2  TCH      BMW  2000
3  KBQ    Range  3500
4  TBD   Premio  1800
5  KCP     Benz  2200
6  USD  Fielder  1500
7  UGB      BMW  2000
8  TBG    Range  3200